*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto 0;
}

.container .add-task {
    position: relative;
    width: 100%;
    background-color: rgb(8, 199, 199);
    padding: 1.5rem;
    border-radius: 5px;
}

.container .add-task input {
    width: 70%;
    outline: none;
    padding: 20px ;
    border: none;
    background-color: rgba(255, 255, 255, 0.461);
    width: 98%;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

.container .add-task .plus {
    position: absolute;
    top: 18%;
    right: 2%;
    font-size: 3rem;
    background: white;
    width: 78px;
    height: 78px;
    text-align: center;
    border-radius: 50%;
    line-height: 78px;
    cursor: pointer;
    transition: transform .5s;;
}

.container .add-task .plus:hover {
    transform: rotate(90deg);
}

.container .content {
    font-size: 1.3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container .content .no-tasks {
    color: gray;
    background: #7773;
    padding: 20px;
}

.container .content .task-box {
    padding: 5px;
    margin:8px 0 0 0 ;
    background-color: rgba(119, 119, 119, 0.08);
    padding: 15px 10px 7px 10px;
    display: flex;
    justify-content: space-between;
}


.container .content .task-box .delete {
    background-color: red;
    padding: 4px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tasks-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.tasks-stats .tasks-count span {
    background-color: rgb(8, 199, 199);
    padding: 5px;
    border-radius: 5px;
}

input::placeholder {
    color: red;
}